@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body{
    background-color: antiquewhite ;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Roboto Condensed', sans-serif;

}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    display: flex;
    margin: 24px auto;
    width: 70%;
    border-radius: 12px;
    background-color: black;
    color: white;
    min-height: 70vh;
    font-family: 'Kablammo', cursive;
    padding: 0 15px;
    background-image: url('bg.jpeg');

}

.bottom{
    position: sticky;
    height:130px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#progress{
    width: 80vw;
    padding: 0 15px;
    cursor: pointer;
}
.songListContain{
    margin-top: 4px;
    padding: 20px;
}
.songItem img{
    width:42px;
    height: 42px
}
.songListPlay i{
    cursor: pointer;
}
.songB{
    position: absolute;
    margin-top: 22px;
    left:  10vw;
    font-family: 'Roboto Condensed', sans-serif;
}
.songB img{
    opacity: 1;
    transition: opacity 1s ease-in;
}